$main-color: blue;
$codingPage-color: rgb(29, 29, 29);

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;

  &__h3 {
    color: $main-color;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    letter-spacing: 1vw;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 10vw;
  &__link {
    text-decoration: none;
    color: $main-color;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    letter-spacing: 7px;
    font-weight: bold;
  }
  &__link:hover {
    color: rgb(29, 29, 29);
  }
}

// .back-container__pseudo {
//   background: rgb(253, 253, 253);
//   width: 50px;
//   height: 50px;
//   border-radius: 50px;
//   z-index: 0;
//   margin: 4px 0px 0px 3px;
// }

// .back-container__img {
//   position: absolute;
//   width: 60px;
//   z-index: 10;
// }

// .back-container__img:hover + .back-container__pseudo {
//   background: rgba(0, 0, 255, 0.596);
// }
