.tape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(138, 154, 170);

  &__img {
    width: 80vw;
    @media (min-width: 400px) {
      width: 400px;
    }
  }
}
