@keyframes animateHeight {
  0% {
    height: 0vh;
  }
  100% {
    height: 80vh;
  }
}

@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes animateColor {
  0% {
    color: rgba(0, 0, 255, 0.644);
  }
  100% {
    color: blue;
  }
}
@keyframes animateVisi {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* ---------Letters----------- */

.letters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2vh;
  z-index: 10;
}

.letters-container__letter_1 {
  width: 50px;
  animation: 8s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_2 {
  width: 50px;
  animation: 11s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_3 {
  width: 50px;
  animation: 6s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_4 {
  width: 50px;
  animation: 13s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_5 {
  width: 50px;
  animation: 3s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_6 {
  width: 50px;
  animation: 9s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_7 {
  width: 50px;
  animation: 10s ease-in-out 0s 100 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_8 {
  width: 50px;
  animation: 12s ease-in-out 0s 1 animateOpacity;
  cursor: pointer;
}

.letters-container__letter_1:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_2:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_3:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_4:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_5:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_6:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_7:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}
.letters-container__letter_8:hover {
  animation: 1s ease-in-out 0s 100 animateOpacity;
}

/* ------------------Lines-------------- */

.all-lines-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  height: 0vh;
  z-index: 100;
  margin-top: -15vh;
}

.line-container1 {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 22vw;
  overflow: hidden;
  animation: 5s ease-out 0s 1 animateHeight;
}

.line-container2 {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 22vw;
  overflow: hidden;
  animation: 8s ease-out 0s 1 animateHeight;
}

.line-container3 {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 22vw;
  overflow: hidden;
  animation: 11s ease-out 0s 1 animateHeight;
}

.line-container1__line,
.line-container2__line,
.line-container3__line {
  height: 70vh;
  /* media query on width of lines on bigger screen */
}

/* ---------------Links--------------- */

.link-container {
  margin-top: 71vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link-wrapper__link-1,
.link-wrapper__link-2,
.link-wrapper__link-3 {
  display: flex;
  justify-content: center;
  width: 22vw;
}
.link-container__link-1 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 15px;
  color: blue;
  animation: 3.6s step-end 0s 1 animateVisi;
  width: fit-content;
  cursor: default;
}
.link-container__link-1__hover {
  text-align: center;
  font-family: "Rubik", sans-serif;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.349);
  animation: 3.6s step-end 0s 1 animateVisi;
  width: fit-content;
  cursor: default;
}

.link-container__link-1:hover {
  color: rgba(0, 0, 0, 0.349);
}
.link-container__link-2 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 15px;
  color: blue;
  animation: 5.7s step-end 0s 1 animateVisi;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}
.link-container__link-2__hover {
  text-align: center;
  font-family: "Rubik", sans-serif;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.349);
  animation: 5.7s step-end 0s 1 animateVisi;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.link-container__link-2:hover {
  color: rgba(0, 0, 0, 0.349);
}
.link-container__link-3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 15px;
  color: blue;
  animation: 7.8s step-end 0s 1 animateVisi;
  width: fit-content;
  cursor: default;
}
.link-container__link-3__hover {
  text-align: center;
  font-family: "Rubik", sans-serif;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.349);
  animation: 7.8s step-end 0s 1 animateVisi;
  width: fit-content;
  cursor: default;
}

.link-container__link-3:hover {
  color: rgba(0, 0, 0, 0.349);
}

.sublink-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sublink-container__link-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22vw;
  visibility: hidden;
}

.sublink-container__link-1__ani {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22vw;
  visibility: visible;
  animation: 3s ease 0s 1 animateOpacity;
}

.sublink-container__link-1__img1 {
  width: 58px;
  padding: 1vw 12px 0px 12px;
}
.sublink-container__link-1__img2 {
  width: 58px;
  padding: 1vw 12px 0px 12px;
}
.sublink-container__link-1__img3 {
  width: 58px;
  padding: 1vw 12px 0px 12px;
}

.sublink-container__link-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22vw;
  visibility: hidden;
}

.sublink-container__link-2__ani {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22vw;
  visibility: visible;
  animation: 3s ease 0s 1 animateOpacity;
}

.sublink-container__link-2__info {
  text-align: center;
  width: 20vw;
  font-family: "Rubik", sans-serif;
  padding: 20px 0px 0px 0px;
  color: blue;
  text-decoration: underline blue;
  animation: 1.5s ease-in 0s 100 animateColor;
}

.sublink-container__link-2__info:hover {
  font-weight: bold;
}

.sublink-container__link-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(67, 15, 163);
  width: 22vw;
  visibility: hidden;
}

.sublink-container__link-3__ani {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22vw;
  visibility: visible;
  animation: 3s ease 0s 1 animateOpacity;
}
.sublink-container__link-3__img1 {
  width: 58px;
  padding: 1vw 12px 0px 12px;
}
.sublink-container__link-3__img2 {
  width: 58px;
  padding: 1vw 12px 0px 12px;
}
.sublink-container__link-3__img3 {
  width: 58px;
  padding: 1vw 12px 0px 12px;
}

/* --------------contactform-------------- */

.form-container {
  display: flex;
  justify-content: center;
}
.form-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container__form-label {
}
.form-container__form-input {
  width: 21vw;
  padding: 2vw 0vw 0.2vw 0.2vw;
  margin: 1vw;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid blue;
  color: blue;
  outline: none;
}

.form-container__form-input::placeholder {
  color: blue;
  font-family: "Rubik", sans-serif;
}

.form-container__form-textarea {
  resize: none;
  overflow: hidden;
  width: 44vw;
  margin-top: 6vh;
  height: 18px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid blue;
  outline: none;
}

.form-container__form-textarea::placeholder {
  color: blue;
  font-family: "Rubik", sans-serif;
}

.form-container__form-btn {
  background: none;
  color: blue;
  font-family: "Rubik", sans-serif;
  border: 2px solid blue;
  border-radius: 3px;
  width: 120px;
  padding: 15px;
  margin-top: 6vh;
  outline: none;
  font-size: 18px;
}
.form-container__form-btn:hover:enabled {
  cursor: pointer;
  background: blue;
  color: rgb(255, 255, 255);
}

.form-container__form-btn:active:enabled {
  background-image: url("./images/smiley.png");
  height: 55.7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-container__form-btn:disabled {
  border: 2px solid rgba(0, 0, 255, 0.315);
  color: rgba(0, 0, 255, 0.315);
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.contact-container__h3 {
  color: blue;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  letter-spacing: 1vw;
}

.back-container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.back-container__pseudo {
  background: rgb(253, 253, 253);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 0;
  margin: 4px 0px 0px 3px;
}

.back-container__img {
  position: absolute;
  width: 60px;
  z-index: 10;
}

.back-container__img:hover + .back-container__pseudo {
  background: rgba(0, 0, 255, 0.596);
}

.heartbeat {
  display: flex;
}

.heartbeat-img {
  width: 50vw;
  height: 100vh;
}
.heartbeat-img2 {
  width: 50vw;
  height: 100vh;
}

.tape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(138, 154, 170);
}

.tape-img {
  width: 400px;
}

.morse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 223, 156);
}

.morse {
  width: 60vw;
  height: 60vh;
}

.tv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(201, 219, 190);
}

.tv-img {
  width: 300px;
  height: 230px;
}

.codeing-video-container {
  display: flex;
  flex-direction: column;
}
.coding-video {
  height: 80px;
  z-index: 1;
}
.coverup {
  position: absolute;
  margin-top: -10px;
  width: 110px;
  height: 20px;
  background: white;
  z-index: 10;
}
